.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .form__group {
    margin-bottom: 20px;
  }
  
  .form__group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form__group input[type="text"],
  .form__group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f3f0f0;
    font-size: 16px;
  }
  
  .form__checkbox label {
    font-weight: normal;
  }
  
  button[type="submit"] {
    /* Добавляем синий цвет */
    background-color: #007bff;
    /* Добавляем другие свойства */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    /* Добавляем другой цвет при наведении курсора мыши */
    background-color: #0069d9;
  }