<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>


<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container-fluid">

      <a class="navbar-brand" href="#">Online-shop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'category' %}">Category</a>
          </li>


          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Product</a>
          </li>

        </ul>

        <form class="d-flex">

          <li class="nav-item">
            <a class="btn btn-primary" href="{% url 'product_create' %}">Create new product</a>
          </li>

        </form>

      </div>

    </div>
    
  </nav>


  {% block content %}
  <h1>Корзина покупок</h1>
  <table class="cart">
    <thead>
        <tr>
            <th>Товар</th>
            <th>Описание</th>
            <th>Обновить кол-во</th>
            <th>Удалить</th>
            <th>Цена за шт</th>
            <th>Общая стоимость</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart.item %}
            {% with product=item.product %}
                <tr>
                    <td>
                      <a href="{{ product.get_absolute_url }}"></a>
                      {{ product.name }}
                    </td>
                    <td>
                        <form action="{% url 'cart:cart_add' product.id %}" method="post" class="add">
                            {{ item.update_quantity_form.quantity }}
                            {{ item.update_quantity_form.update }}
                            {% csrf_token %}
                            <input type="submit" value="Обновить">
                        </form>
                    </td>
                    <td>
                        <a href="{% url 'cart:cart_remove' product.id %}">Удалить</a>
                        <td class="num">{{ item.price }}</td>
                        <td class="num">{{ item.total_price }}</td>
                    </td>
                    <td>
                        {{ item.quantity }}
                    </td>
                </tr>
            {% endwith %}
        {% endfor %}  
          <tr class="total">
            <td>Всего</td>
            <td colspan="4"></td>
            <td class="num">{{ cartitem.get_total_price }}</td>
          </tr>    
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url 'home' %}" class="button light">Вернуться</a>
  </p>
{% endblock %}  

